h1{
  color: red;
}
body{
  text-align: center;
}
button{
  size: 100px;
}
/*
div#coinImage:hover {
  animation: tilt-n-move-shaking 0.25s;
}
@keyframes tilt-n-move-shaking {
  0% { transform: translate(0, 0) rotate(0deg); }
  25% { transform: translate(5px, 5px) rotate(5deg); }
  50% { transform: translate(0, 0) rotate(0eg); }
  75% { transform: translate(-5px, 5px) rotate(-5deg); }
  100% { transform: translate(0, 0) rotate(0deg); }
}
*/